body{
    background-color: #bccbce;
    color: #28236b;
    font-size: 21px;
}

p{
    color: rgb(83, 83, 173);
}

h1{
    font-size: 70px;
    color: rgb(42, 23, 138);
}

div{
    background:pink;
}

span{
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}