body{
    background-color: #bccbce;
    background-image: url(../img/leaves.webp);
    color: #28236b;
    font-size: 21px;
}

p{
    color: rgb(83, 83, 173);
}

h1{
    font-size: 70px;
    color: rgb(42, 23, 138);
}

span{
    color: yellow;
    font-size: 40px;
    font-weight: bold;
}

#top-section {
    background: pink;
}

#bottom-section{
    background: green;
}

.intro{
    font-size: 30px;
    color: yellow;
}

.highlight {
    color: aquamarine;
}

.accent-color {
    color: red
}

/* the CSS box model */

/*  Margin: empty space around my element
    Border: a border / stroke / around my element
    Padding: empty space with background around my element

    all of these add on top of the width and height
*/

.box {
    background:pink;
    background-image: url(../img/cat.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    width: 400px;
    margin: 50px;

    border-left-width: 5px;
    border-left-color: red;
    border-left-style: solid;

    border-right-width: 10px;
    border-right-style: groove;
    border-right-color: green;
    padding: 50px 100px 300px 25px; /*top right bottom left*/
}